@{
	ViewBag.Title = "Abouts";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="aboutwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
			</div>
		</div>
	</div>
	<!-- /container -->
</div>

<div class="container">
	<div class="row centered mt mb">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>MUSICSHOP</h2>
            <p>
                В магазине MUSICSHOP вы найдете широкий ассортимент акустических, электрических и бас-гитар, электронных клавишных инструментов, духовых инструментов, скрипок, чехлов для гитар, гитарных струн и других аксессуаров.
            </p>
            <p>
                MUSICSHOP является официальным представителем всемирно известных брендов - это Aria (гитары, Япония), Electroharmonix (педали звуковых эффектов, США), La Bella (струны, США), Rotosound (струны, кабели для гитар, медиаторы, Великобритания. ), Laney (гитарные усилители, Великобритания), Clayton (медиаторы, слайдеры, США).
            </p>
            <p>
                Не бойтесь столкнуться с трудностями при выборе - специалисты-консультанты всегда придут на помощь и посоветуют наиболее оптимальную и подходящую для вас модель.
            </p>

        </div>
	</div>
