@{
	ViewBag.Title = "Корзина";
}

<div id="cart" class="cart-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
	
	@Html.Partial("CartPartial")
</div>