<div id="social">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-2">
                <a href="https://www.instagram.com/staschernioglo/"><i class="fa fa-dribbble"></i></a>
            </div>
            <div class="col-lg-2">
                <a href="https://www.facebook.com/stanislav.chernioglo.5"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="col-lg-2">
                <a href="https://www.instagram.com/staschernioglo/"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-lg-2">
                <a href="https://www.instagram.com/staschernioglo/"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-lg-2">
                <a href="https://www.instagram.com/staschernioglo/"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="col-lg-2">
                <a href="https://www.instagram.com/staschernioglo/"><i class="fa fa-tumblr"></i></a>
            </div>

        </div>
    </div>
</div>

<div id="copyrights">
    <div class="container">
        <ul style="color: white;">
            <li>Chișinău, Bulevardul Ștefan cel Mare și Sfînt 50</li>
            <li>Часы работы: 9:00 - 19:00, без выходных!</li>
            <li class=" onemoremore glyphicon glyphicon-earphone" aria-hidden="true"> 078787878</li>
        </ul>

        <div class="credits">
            <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/instant-bootstrap-personal-template/
          Licensing information: https://templatemag.com/license/
        -->

        </div>
    </div>
</div>